* {  /* Global styles */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#dashboard_body {
    min-height: 100vh; /* Extends black bg to fill entire page*/
}

#dashboard_output {
    margin-top: 5%;
}

.icons {
    width: 64px;
    height: 64px;
}
